* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.background-image {
    width: 100%;
    height: auto;
}

.content {
    position: absolute;
    top: 55%; /* Movido más abajo */
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    padding: 15px 50px; /* Tamaño más uniforme */
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 50px; /* Forma ovalada */
    width: 200px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

